body {
  background-color: #041134;
  color: white;
}

.clr {
  /* Apply linear gradient as text color */
  background: linear-gradient(to right, orange, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}

.custBtn{
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, rgb(244, 183, 69), rgb(137, 53, 137), rgb(70, 70, 245));
  padding: 10px;
  border-radius: 10px;
}

.custBtn:hover{
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, rgb(244, 183, 69), rgb(137, 53, 137), rgb(70, 70, 245));
  padding: 10px;
  border-radius: 10px;
}
